# Core Machine Learning
torch
torchvision
torchaudio
pytorch-msssim

# Computer Vision & Data
opencv-python
numpy
pillow

# Analysis & Visualization
matplotlib
thop
scikit-learn
pandas
tqdm
scipy
natsort
